body {
    font-family: sans-serif;
    background: rgb(53, 53, 53);
}

h2 {
    font-family: 'Bahnschrift', sans-serif;
    text-transform: uppercase;
    color: white;
}

#result {
    margin-top: 20px;
}

g.rank path, g.rank circle {
    fill: var(--main-color);
    opacity: .9;
}

g.squad circle.background {
    fill: #000;
    opacity: .6;
    mix-blend-mode: multiply;
}

g.squad circle.foreground {
    fill: transparent;
    stroke: var(--secondary-color);
    stroke-width: 3;
    opacity: 1;
}

/* name */

g.name rect.box {
    fill: var(--main-color);
    opacity: 1;
    mix-blend-mode: multiply;
}

g.name text.big, g.rank text, g.name text.shield, g.squad text,
g.name text.threshold, g.token g.name text, g.token text.shield {
    fill: var(--secondary-color);
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-stretch: condensed;
    font-size: 50pt;
}

g.name text.small {
    fill: var(--accent-color);
    font-family: 'Century Gothic';
    font-weight: bold;
    font-style: italic;
    font-size: 13pt;
    text-anchor: end;
}

g.name path.icon, g.name path.shield {
    fill: var(--secondary-color);
}

g.name path.heavy, g.token path.heavy {
    fill: transparent;
    stroke: var(--dark-color);
    stroke-width: 2;
}

g.name text.shield, g.name text.threshold, g.token text.shield {
    font-size: 35pt;
    font-stretch: normal;
    fill: var(--dark-color);
}

g.rank text {
    font-stretch: normal;
}

g.name circle.threshold {
    fill: rgba(0, 0, 0, 0.7);
    stroke: var(--main-color);
    stroke-width: 2;
}

g.name text.threshold {
    fill: var(--main-color);
}

g.squad text {
    fill: var(--secondary-color);
    font-stretch: extra-expanded;
    font-family: sans-serif;
    font-size: 40pt;
}


/* actions */

g.actions rect.box {
    fill: var(--secondary-color);
    opacity: .7;
}

g.actions line {
    stroke: var(--main-color);
    stroke-width: 1;
}

/* single action */

g.action text {
    fill: var(--dark-color);
    font-family: 'Bahnschrift';
    font-weight: normal;
    font-size: 21pt;
    text-transform: capitalize;
}

g.action text.value {
    fill: var(--secondary-color);
    text-anchor: middle;
}

g.action circle {
    fill: var(--main-color)
}

g.action circle.armored {
    fill: none;
    stroke: var(--secondary-color);
    stroke-width: 2;
}

g.action circle.secondary {
    fill: var(--secondary-color);
    stroke: var(--main-color);
    stroke-width: 2;
}

g.action circle.secondary.structure {
    stroke-dasharray: 5,3;
    stroke-dashoffset: 1.4;
}

g.action text.value.secondary {
    fill: var(--main-color);
}

/* seats */

g.seat > circle {
    fill: rgba(0, 0, 0, 0.7);
    stroke: var(--main-color);
    stroke-width: 3;
}

g.seat g.action > text {
    fill: var(--secondary-color);
}

g.seat path.icon {
    fill: var(--secondary-color);
}

g.token g.name rect {
    fill: var(--main-color);
}

g.token g.name text {
    fill: var(--secondary-color);
    font-size: 40pt;
}

g.token g.name.suppressed rect {
    fill: var(--dark-color);
}

g.token image.overlay {
    opacity: .5;
}

g.token g.name.suppressed text {
    fill: var(--main-color);
}

g.token path.shield {
    fill: var(--main-color);
}

g.token g.suppressed path.shield {
    fill: var(--dark-color);
    stroke-width: 2;
    stroke: var(--main-color);
}

g.token g.suppressed path.shield.heavy {
    fill: transparent;
}

g.token text.shield {
    font-size: 70pt;
    fill: var(--secondary-color);
}

g.token g.suppressed text.shield {
    fill: var(--main-color);
}

g.token path.heavy {
    fill: transparent;
    stroke: var(--secondary-color);
    stroke-width: 4;
}

g.token g.squad text {
    font-size: 70pt;
}