:root {
    --main-color: #00ae71;
    --accent-color: #00ff9d;
    --secondary-color: #fff;
    --dark-color: #000;
}

g.back rect {
    fill: var(--main-color);
}

g.back path {
    fill: var(--secondary-color);
}